body{
  background-color: $offwhite;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 1px 0 2px 0;
}
p{
  padding-bottom: 5px;
}
ul{
  list-style-type: none;
  padding: 0;
  margin:0;
  li{
    padding: 0 ;
  }
}
ul.alt-color{
  li:nth-of-type(odd){
    background-color: white;
  }
  li:nth-of-type(even){
    background-color: lightgrey;
  }

}
h1.welcome{
  font-size:5vw;
  line-height: 3vw;
}
.q-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.q-layout-padding{
  min-height: 100px !important;
}
.q-page {
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
  width:98%;
}
.q-item{
	min-height: 1px;
}
.transparent{
  background: transparent;
}
.info-card{
  width:100%;
  width: 300px !important;
}
.org-card{
  width: 350px;
}
.message-card{
  width:640px;
  max-width: 100%;
}
.card-item{
  width:250px;
}
.activity-width{
  width:640px;
  max-width: 100%;
}
.card-image{
  max-width:500px; 
  max-height:350px; 
  min-width:250px;
  min-height:250px;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.dialog-width{
  width:640px;
  max-width: 98%;
}
.river-width{
  max-width: 960px;
  width: 90%;
}
.q-field--filled{
  background-color: $lightgray;
}
.bg-semi-trans{
  background-color: $transwhite;
}
.bg-grey-trans{
  background-color: $transgrey;
}
.bg-trans{
  background-color: transparent;
}
.bg-semi-trans-dark{
  background-color: $transblack;
}
.custom-icon{
  width:50px;
  height:50px;
}
.q-dialog__inner--minimized > div{
  max-width: 960px;
}
.capitalize{ text-transform: capitalize; }
.q-table{
  th{ text-transform: capitalize; }
  .sub-row td{ padding: 0; }
  td.wrap{  white-space: normal !important; }
}
.z-100{
  z-index: 100;
}
.home-credit{
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  left:0;
  width:97%;
  text-align: right;
  padding-right: 3%;
}
.comment-q-avatar{
  width:125px; height:125px;
}
.comment-q-avatar-inner{
  width:100px; height:100px;
}

@import './mobile.scss';