p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px 0;
}
.q-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.q-page {
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.q-item{
	min-height: 1px;
}
.transparent{
  background: transparent;
}
.info-card{
  width:100%;
  max-width: 250px;
}
.org-card{
  width: 250px;
}
.card-image{
  max-width:500px; 
  max-height:350px; 
  min-width:250px;
  min-height:250px;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.river-column{
  max-width: 600px;
  width: 90%;
}
.q-field--filled{
  background-color: $lightgray;
}
.bg-semi-trans{
  background-color: $transwhite;
}
.bg-semi-trans-dark{
  background-color: $transblack;
}
.custom-icon{
  width:50px;
  height:50px;
}
.table{
  /* height or max-height is important */
  height: 310px;

  .q-table__top,
  .q-table__bottom{
    /* bg color is important for th; just specify one */
    background-color: $lightgray;
    }
}