@media screen and (max-width: 640px) {
  .home-credit{
    width:100%;
    text-align: center;
    padding-right: 0%;
  }
  .comment-q-avatar{
    width:40px; height:40px;
  }
  .comment-q-avatar-inner{
    width:35px; height:35px;
  }
  .info-card,  .card-item{
    width: 100% !important;
  }

  .mobile-row {
     flex-direction: column;
    .col{
      width:100%;
    }
  }

}